{% extends "base.html" %}

{% block content %}
    <h1>Add a new blog post</h1>
    <form method='post' action="/blog">
        <label>
            <div class="form-description">New Title:</div>
            <input type="text" name='post-title' autofocus placeholder="Post title"/>
        </label>
        <label>
            <div class="form-description">Post Body:</div>
            <textarea name="post-body" placeholder="Your blog post text"></textarea>
        </label>
        <input type="submit" name="submit" value="Publish!" class="btn-default">
    </form>
{% endblock %}